- var page = 'Home';
doctype html
html.no-js.is-observer
  include components/head.pug
  body
    include components/header.pug    
    main
      include components/spacer.pug
      include components/home-hero-section.pug
      include components/spacer.pug
      include components/centered-selection-tabs.pug
      include components/spacer.pug
      include components/home-module-demo-cards.pug
    include components/footer.pug
