.container
  ul.selection-tabs
    li.selection-tabs__item.selection-tabs__item--label Module types
    li(data-module-category="hero").selection-tabs__item Hero
    li(data-module-category="image").selection-tabs__item Image
    li(data-module-category="text").selection-tabs__item Text
  





    //-   <div class="container">
    //-     <ul class="selection-tabs">
    //-       <li class="selection-tabs__item selection-tabs__item--label">Module types</li>
    //-       <li data-module-category="hero" class="selection-tabs__item">Hero</li>
    //-       <li data-module-category="image" class="selection-tabs__item">Image</li>
    //-       <li data-module-category="text" class="selection-tabs__item">Text</li>
    //-     </ul>
    //-   </div>