head
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible" content="ie=edge")
  title
  meta(name="description" content="")
  meta(name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="format-detection" content="telephone=no")
  link(rel="stylesheet"
    href="https://unpkg.com/flickity@2.2.1/dist/flickity.css")
  link(rel="stylesheet" href="css/style.min.css")
  //- Responsive images polyfill
  script.
    document.createElement('picture');
  script(src="js/picturefill.min.js" async)
  //- Responsive image polyfill end
