.container
  .module-card-container
    .module-card
      .module-card__header
        h1 Hero Module
      img(src="./img/hero-laptop-demo.png")

    .module-card
      .module-card__header
        h1 Hero Module
      img(src="./img/hero-laptop-demo.png")

    .module-card
      .module-card__header
        h1 Hero Module
      img(src="./img/hero-laptop-demo.png")

    .module-card
      .module-card__header
        h1 Hero Module
      img(src="./img/hero-laptop-demo.png")

    .module-card
      .module-card__header
        h1 Hero Module
      img(src="./img/hero-laptop-demo.png")

    .module-card
      .module-card__header
        h1 Hero Module
      img(src="./img/hero-laptop-demo.png")

    .module-card
      .module-card__header
        h1 Hero Module
      img(src="./img/hero-laptop-demo.png")

    .module-card
      .module-card__header
        h1 Hero Module
      img(src="./img/hero-laptop-demo.png")


