.container
  .content-block.content-block--center
    .content-block__header
      h1 MODULES
    .content-block__content 
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt purus erat. Mauris vehicula ante vitae nisl auctor auctor. Vestibulum placerat vitae leo non tempus. Mauris sit amet vulputate ligula. Aliquam cursus tristique volutpat. Suspendisse auctor, nulla ac finibus ornare, nisi leo hendrerit diam, vel fringilla diam urna id ex. Nam viverra quam vel metus pharetra euismod. Fusce commodo erat non pharetra molestie.

